/* transition по сути анимация где даем врмя и название элемента или данного */
/* transform */
/* cubic-bezier  liner*
cursor pointer 
transform scalex or translatex
transform s hover
perspective 700px
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body-wrapper{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
nav{
    background-color: rgb(56, 57, 57);
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}
aside{
    width: 30%;
    height: 100%;
    background-color: rgb(56, 57, 57);
    /* display: flex; */
    position: absolute;
    right: 0;
    transform: translateX(320px);
    transition: 0.5s;
}
.active{
    transform: translateX(0);
}
.ul{
    list-style-type: none;
    font-size: 25px;
    color: rgb(156, 155, 155);
    padding-top: 30px;
    padding-left: 20px;
}
.ul li{
    padding-top: 20px;
}
ol{
    list-style-type: none;
    font-size: 25px;
    color: rgb(156, 155, 155);
    padding-left: 40px;
}
hr{
    color: rgb(156, 155, 155);
}


.can{
    width: 200px;
    height: 200px;
    background-color: red;
    margin: 100px auto;
}
.container{
    width: 200px;
    height: 200px;
    background-color: aqua;
    margin: 100px auto;
    transition: 1s  linear;
    transform: translate3d(0px,0px,0px) ;
}
.container:hover{
    transform: scale3d(0.5 , 0.5 ,0.5) ;
    /* width: 300px; */
}
.shopping-list button {
    border: none;
    background: none;
}
.background{
    background-color: cornflowerblue;
}
.strike {
    text-decoration: line-through;
}



.kub{
    width: 100px;
    height: 100px;
    background-color: red;
}

